## MAC files ##
.DS_Store

## NPM ##
node_modules/

# Compiled Dirs (http://nodejs.org/api/addons.html)
public/bundle.js

# mysql config
config.js

# test coverage folder
coverage/

# playground
practice
practice.js

#seed files
/seeding/properties.csv
/seeding/reservations.csv
/seeding/reservationInfo.csv